.container.blog {
    
}

.blog-box {
    display: inline-block;
    width: 100%;
    float: left;
    background-color: var(--soft-background-color);
}

    .blog-box > .blog-img {
        object-fit: cover;
        max-width: 100%;
    }