.btn {
    display: inline-block;
    text-decoration: none;
    border:1px solid #9C27B0;
    background: #9C27B0;
    color:#fff;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 15px 30px;
    cursor:pointer;
    margin-right: 10px;
}

.btn:hover{
    color: #333;
    border:1px solid #fff;
    animation: buttons 0.8s ease-in forwards;
}

@keyframes buttons {
    0% {
        background-color: #fff;
    }
    50% {
        background-color: #9C27B0;
    }
    100% {
        background-color: #fff;
    }
} 