.gallery{
    display:grid;
    width:100%;
}
    .gallery > .filter{
        display:grid;
        width:100%;
    }
    .gallery > .list{
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(11, 4vw);
        grid-gap: 10px;
        grid-auto-flow: dense;
    }
    .gallery img{
        width:100%;
        height:100%;
        object-fit:cover;
        border: 1px solid #f4f5f8;
        border-radius: 4px;
    }
        .gallery > .list > .item{
            position:relative;
        }
        .gallery > .list > .item.size-1{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        .gallery > .list > .item.size-2{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 5;
            }
            .gallery > .list > .item.size-3{
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 4;
             }
             .gallery > .list > .item.size-4{
             grid-column-start: 1;
             grid-column-end: 3;
             grid-row-start: 4;
             grid-row-end: 8;
             }
             .gallery > .list > .item.size-5{
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 5;
                grid-row-end: 8;
             }
             .gallery > .list > .item.size-6{
                grid-column-start: 5;
                grid-column-end: 7;
                grid-row-start: 4;
                grid-row-end: 8;
            }
            .gallery > .list > .item.size-7{
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 12;
                grid-row-end: 8;
            }
            .gallery > .list > .item.size-8{
                grid-column-start: 3;
                grid-column-end: 7;
                grid-row-start: 8;
                grid-row-end: 12;  
            }

            .gallery .item >.hover {
                display:inline-block;
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                border-radius: 4px;
                background: rgba(255, 255, 255, 0.9);
                border: 1px solid #f7f7f7;
                opacity: 0;
                overflow: hidden;
                -webkit-transition: all .5s;
                transition: all .5s;
                color: #fff;
                z-index: 1;
            }
            .gallery .item >.hover:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 170%;
                    width: 100%;
                    height: 100%;
                    border: 1px solid var(--main-color);
                    background: rgba(0,0,0,.1);
                    transform: skewX(45deg);
                    transition: all 1s;
                    z-index: -1;
                  }
                  .gallery .item >.hover:hover:after {
                    top: 0;
                    left: -170%;
                  }
                    .gallery .item >.hover:hover {
                        opacity:1;
                    }
                    .gallery .item >.hover:hover .text {
                        bottom:50%;
                        margin-bottom:-15%;
                    }
                    .gallery .hover > .text{
                        position: absolute;
                        left: 50%;
                        margin-left: -50px;
                        bottom: -50%;
                        -webkit-transition: all .5s;
                        transition: all .5s;
                    }
                    .gallery .hover > .text a{
                        text-decoration:none;
                        display: inline-block;
                        
                    }    
                    .gallery .hover > .text > p{
                        font-weight: 900;
                        margin-bottom: 20px;
                        color: #111;
                        font-family: 'Montserrat', sans-serif;
                        text-transform: uppercase;
                    }    

                    .gallery  .icon-1 .fa-link,
                    .gallery  .icon-2 .fa-plus{
                        display: inline-block;
                        margin: 20px;
                        color: var(--main-color);
                        text-align: center;
                        text-decoration: none;
                        font-size: 20px;
                        }
            /* responsive */
            @media(max-width:1100px){
            .gallery .item >.hover:hover .text {
                bottom:50%;
                margin-bottom:-25%;
            }
        }
            @media(max-width:900px){
                .gallery > .list{
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(20, 4vw);
                    grid-gap: 10px;
                  
                }
                .gallery > .list > .item.size-1{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 4;
                }
                .gallery > .list > .item.size-2{
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row-start: 1;
                    grid-row-end: 7;
                    } 
                    .gallery > .list > .item.size-3{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 4;
                        grid-row-end: 8;
                         }
                         .gallery > .list > .item.size-4{
                         grid-column-start: 3;
                         grid-column-end: 5;
                         grid-row-start: 7;
                         grid-row-end: 14;
                         }
                         .gallery > .list > .item.size-5{
                            grid-column-start: 1;
                            grid-column-end: 3;
                            grid-row-start: 8;
                            grid-row-end: 16;
                         }
                         .gallery > .list > .item.size-6{
                            grid-column-start: 3;
                            grid-column-end: 5;
                            grid-row-start: 14;
                            grid-row-end: 17;
                        }
                        .gallery > .list > .item.size-7{
                            grid-column-start: 1;
                            grid-column-end: 3;
                            grid-row-start: 16;
                            grid-row-end: 20;
                        }
                        .gallery > .list > .item.size-8{
                            grid-column-start: 3;
                            grid-column-end: 5;
                            grid-row-start: 17;
                            grid-row-end: 20;  
                        }
                        .gallery .item >.hover:hover .text {
                            bottom:50%;
                            margin-bottom:-25%;
                        }
            }
            @media(max-width:700px){
                .gallery > .list{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(8, 60vw);
                   
                }
                .gallery > .list > .item.size-1{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
                .gallery > .list > .item.size-2{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                    } 
                    .gallery > .list > .item.size-3{
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 3;
                        grid-row-end: 4;
                         }
                         .gallery > .list > .item.size-4{
                         grid-column-start: 1;
                         grid-column-end: 2;
                         grid-row-start: 4;
                         grid-row-end: 5;
                         }
                         .gallery > .list > .item.size-5{
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 5;
                            grid-row-end: 6;
                         }
                         .gallery > .list > .item.size-6{
                            grid-column-start:1;
                            grid-column-end: 2;
                            grid-row-start: 6;
                            grid-row-end: 7;
                        }
                        .gallery > .list > .item.size-7{
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 7;
                            grid-row-end: 8;
                        }
                        .gallery > .list > .item.size-8{
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 8;
                            grid-row-end:9; 
                        }
                        .gallery .item >.hover:hover .text {
                            bottom:50%;
                            margin-bottom:-10%;
                        }
                    }