.portfolio > .row > h2{
    display: inline-block;
    font-size: 35px;
    border-bottom: 1px solid #f5f5f5;
    text-transform: capitalize;
    color:#9C27B0;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 50px;
    font-weight:800;
    font-family:'Montserrat', sans-serif;
    padding-bottom: 10px;
    margin-left: calc(50% - 118px);
    text-align:center;
}
.portfolio h2 > span{
    color:#484848;
}
.portfolio > .row > h2::before{
    content: '';
    border-bottom: 1px solid #9C27B0;
    width: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.gallery{
    display:grid;
    width:100%;
}
.gallery > .filter{
    display:inline-block;
    width:100%;
    padding-bottom:50px;
    text-align:center;
}
.gallery > .filter > .item{
    display:inline-block;
    font-size:14px;
    text-transform: capitalize;
    cursor:pointer;
    position: relative;
    margin: 0px 10px;
    padding: 5px 5px;
    letter-spacing: 2px;
    color: #777;
    cursor: pointer;
    transition: all .5s;
}
.gallery > .filter > .item:hover{
    color: #9c27b0;
}
.gallery > .filter > .item::after{
content: '';
position: absolute;
left: 45%;
top: 30px;
width: 3px;
height: 3px;
border-radius: 50%;
background-color: #9c27b0;
display:none;

}
.gallery > .filter > .item:hover:after{
display: block;
}
.gallery > .filter > .active{
color: #9c27b0;
border-top: 1px solid #f7f7f7;
transition: all .5s;
}
    /* .gallery > .filter{
        display:grid;
        width:100%;
    } */
    .gallery > .list{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(11, 11vw);
        grid-gap: 10px;
        grid-auto-flow: dense;
    }
    .gallery img{
        width:100%;
        height:100%;
        object-fit:cover;
        border: 1px solid #f4f5f8;
        border-radius: 4px;
    }
        .gallery > .list > .item{
            position:relative;
        }
        .gallery > .list > .item.hide{
            display:none;
        }
        .gallery > .list > .item.size-1
        {
            grid-row: 1;
            grid-column:span 1 / 2;
            overflow:hidden;
         }  
         .gallery > .list > .item.size-2,
        .gallery > .list > .item.size-4,
        .gallery > .list > .item.size-6,
        .gallery > .list > .item.size-7{
            grid-row:span 2; 
            overflow:hidden;
        }   
        .gallery > .list > .item.size-8{
            grid-column:span 2 / auto; 
            grid-row:span 2;
            overflow:hidden;
        }  
          
            .gallery .item >.hover {
                display:inline-block;
                position: absolute;
                top: 15px;
                left: 15px;
                right: 15px;
                bottom: 15px;
                border-radius: 4px;
                background: rgba(255, 255, 255, 0.9);
                border: 1px solid #f7f7f7;
                opacity: 0;
                overflow: hidden;
                -webkit-transition: all .5s;
                transition: all .5s;
                color: #fff;
                z-index: 1;
            }
            .gallery .item >.hover:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 170%;
                    width: 100%;
                    height: 100%;
                    border: 1px solid var(--main-color);
                    background: rgba(0,0,0,.1);
                    transform: skewX(45deg);
                    transition: all 1s;
                    z-index: -1;
                  }
                  .gallery .item >.hover:hover:after {
                    top: 0;
                    left: -170%;
                  }
                    .gallery .item >.hover:hover {
                        opacity:1;
                    }
                    .gallery .item >.hover:hover .text {
                        bottom:50%;
                        margin-bottom:-15%;
                    }
                    .gallery .hover > .text{
                        position: absolute;
                        left: 50%;
                        margin-left: -50px;
                        bottom: -50%;
                        -webkit-transition: all .5s;
                        transition: all .5s;
                    }
                    .gallery .hover > .text a{
                        text-decoration:none;
                        display: inline-block;
                        
                    }    
                    .gallery .hover > .text > p{
                        font-weight: 900;
                        margin-bottom: 20px;
                        color: #111;
                        font-family: 'Montserrat', sans-serif;
                        text-transform: uppercase;
                    }    

                    .gallery  .icon-1 .fa-link,
                    .gallery  .icon-2 .fa-plus{
                        display: inline-block;
                        margin: 20px;
                        color: var(--main-color);
                        text-align: center;
                        text-decoration: none;
                        font-size: 20px;
                        }
            /* responsive */
            @media(max-width:1100px){
            .gallery .item >.hover:hover .text {
                bottom:50%;
                margin-bottom:-25%;
            }
        }
            @media(max-width:900px){
                .gallery > .list{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(8, 13vw);
                    grid-gap: 10px; 
                }
                .gallery > .list > .item.size-5{
                    grid-row:span 2; 
                    overflow:hidden;
                }   
                    .gallery .item >.hover:hover .text {
                        bottom:50%;
                        margin-bottom:-22%;
                    }
                    .gallery  .item.size-1.hover:hover .text,
                    .gallery  .item.size-3.hover:hover .text,
                    .gallery  .item.size-5.hover:hover .text,
                    .gallery   .item.size-7.hover:hover .text{
                        bottom:50%; 
                        margin-bottom:-40%;
                    }   
            }
            @media(max-width:700px){
                .gallery > .list{
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(8, 30vw);
                   
                }
                /* .gallery > .list > .item.size-1{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
                .gallery > .list > .item.size-2{
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                    } 
                    .gallery > .list > .item.size-3{
                        grid-column-start: 1;
                        grid-column-end: 2;
                        grid-row-start: 3;
                        grid-row-end: 4;
                         }
                         .gallery > .list > .item.size-4{
                         grid-column-start: 1;
                         grid-column-end: 2;
                         grid-row-start: 4;
                         grid-row-end: 5;
                         }
                         .gallery > .list > .item.size-5{
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 5;
                            grid-row-end: 6;
                         }
                         .gallery > .list > .item.size-6{
                            grid-column-start:1;
                            grid-column-end: 2;
                            grid-row-start: 6;
                            grid-row-end: 7;
                        }
                        .gallery > .list > .item.size-7{
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 7;
                            grid-row-end: 8;
                        }
                        .gallery > .list > .item.size-8{
                            grid-column-start: 1;
                            grid-column-end: 2;
                            grid-row-start: 8;
                            grid-row-end:9; 
                        } */
                        .gallery > .list > .item.size-2,
                        .gallery > .list > .item.size-4,
                        .gallery > .list > .item.size-6,
                        .gallery > .list > .item.size-7,
                        .gallery > .list > .item.size-1,
                        .gallery > .list > .item.size-3,
                        .gallery > .list > .item.size-5,
                        .gallery > .list > .item.size-8{
                            grid-column:1;
                            grid-row:span 2;
                        }
                        .gallery .item >.hover:hover .text {
                            bottom:50%;
                            margin-bottom:-10%;
                        }
                    }